.footer {
    background: var(--secondary);
    color: white;
    padding: 1rem;
}

@media screen and (min-width: 30rem) {
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__social {
    display: flex;
    justify-content: space-between;
}
